@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body, 
html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: #f2f2f2;
}

code {
  font-family: Consolas, 'Courier New',
    monospace;
}

.list-aside {
  width: 100%;
}


.container-btn-aside {
  padding: 8px 0 8px 4px;
}

.icons-side{
  cursor: pointer;
  color: #f08989;
  position: absolute;
}

.list-aside-btn {
  opacity: 0;

  width: max-content;
  padding: 4px 10px;
  font-weight: 500;
  border-radius: 4px;

  transform: translateX(-50%);
  z-index: -1;

  transition: all 0.4s ease-in-out;
}

.list-aside:hover .list-aside-btn {
  transform: translateX(0);
  box-shadow: 1px 2px 8px #333;
  background: #884343;
  color: #f2f2f2;
  opacity: 1;
}
.list-aside:hover .icons-side {
  transition-delay: 0.2s;
  opacity: 0;
}
